 <!-- NAV menu -->


<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#about">Drupat Hoomeopathy</a></li>

    <!-- TAB menues -->
    <li><a data-toggle="tab" href="#test">Do the Test</a></li>
    <li><a data-toggle="tab" href="#faq">FAQ</a></li>
    <li><a data-toggle="tab" href="#literature">Literature</a></li>

    <!-- Admin Menu -->
    <li class="nav nav-tabs navbar-right"> <a data-toggle="tab" href="#admin">Admin</a> </li>

    <!-- Language dropdown menu -->
     <li class="nav nav-tabs navbar-right dropdown"> 
      <a href="#" id="myTabDropLang" class="dropdown-toggle" data-toggle="dropdown"> 
         Languages({{language}}) <b class="caret"></b>
      </a> 
      <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDropLang"> 
        <li><a href='/de'>Deutsch</a></li>
        <li><a href='/en'>English</a></li>
        <li><a href='/es'>Espanol</a></li>
        <li><a href='/eo'>Esperanto</a></li>
        <li><a href='/fr'>Francais</a></li>
        <li><a href='/it'>Italiano</a></li>
      </ul> 
   </li> 
 </ul>

