
  .question {
     font-size:large;
     font-family:verdana, sans-serif;
     color:#ff0000;
   }
   
  .hidden {
      display:none;
      background-color : blue;
  }

@media screen and (min-width: 800px) {

 .btn.btn-primary-bg{
      background-color: red;
   }

   .btn.btn-primary {
      background-color: yellow;
   }

   .btn.btn-primary.active {
      background-color: green;

   }
  
   .btn.btn-primary.hover {
      background-color: orange;
   }

  .btn.btn-primary.hover {
      background-color: gray;
   }
}